@charset "UTF-8";
/*
==================================================================================
Global rules
==================================================================================
*/
html {
    margin: 2%;
}
body {
    margin: auto;
    max-width: 860px;
    /* Lägg till deklarationer här */
}
/*
section, header, footer, nav, div[role=main] {
    outline: 1px solid red;
}
*/
/*
==================================================================================
Rules for reusable components
==================================================================================
*/

/* dborder ska vara här - avsnitt TODO */

/*
==================================================================================
Page header, all pages
==================================================================================
*/
header {
    /* text-align: center; */
}
/*
==================================================================================
Page footer rules
==================================================================================
*/

/* TODO Avsnitt xyz */

/*
==================================================================================
Main site navigation
==================================================================================
*/

/* Alla regler för .menu med relaterade element */

/* TODO Avsnitt xyz */


/*
==================================================================================
Start page rules
==================================================================================
*/

/* TODO Avsnitt xyz */

/*
==================================================================================
Subpages
==================================================================================
*/

/* TODO Avsnitt xyz */

/*
==================================================================================
Tables
==================================================================================
*/

/* TODO Avsnitt xyz */

/*
==================================================================================
Nivo Slider
==================================================================================
*/

/* TODO Avsnitt xyz */

/*
==================================================================================
Forms (contact page)
==================================================================================
*/

/* TODO Avsnitt xyz */

/*
==================================================================================
Blog page, show and edit
==================================================================================
*/

/* Detta kommer i boken Webbserverprogrammering 1 */

/*
==================================================================================
Adaptive design
==================================================================================
*/
.tagline button {
    /* display: none; */ /* Aktivera */
}
@media (max-width: 750px) {
    .hwrap > a {
        margin-right: 25px;
    }
    /* Lägg till regler enligt kapitel 15 */
}

/* TODO Avsnitt xyz */

