@charset "UTF-8";
/*
==================================================================================
Global rules
==================================================================================
*/
html {
    margin: 2%;
}
body {
    margin: auto;
    max-width: 860px;
    /* Lägg till deklarationer här */
}
/*
section, header, footer, nav, div[role=main] {
    outline: 1px solid red;
}
*/
/*
==================================================================================
Rules for reusable components
==================================================================================
*/

/* dborder ska vara här - avsnitt 11.7 */

/*
==================================================================================
Page header, all pages
==================================================================================
*/
header {
    /* text-align: center; */
}
/*
==================================================================================
Page footer rules
==================================================================================
*/

/* TODO Avsnitt 5.2 */

/*
==================================================================================
Main site navigation
==================================================================================
*/

/* Alla regler för .menu med relaterade element */

/* TODO Avsnitt 5.2, 5.4, 5.5, 5.6, 11.4.2 */


/*
==================================================================================
Start page rules
==================================================================================
*/

/* Regler med klassen .startpage, avsnitt 5.2, 5.3 och 5.8 */

/*
==================================================================================
Subpages
==================================================================================
*/

/* TODO Avsnitt 11.4.1, 11.6,  */

/*
==================================================================================
Tables
==================================================================================
*/

/* TODO Avsnitt 12.3 */

/*
==================================================================================
Nivo Slider
==================================================================================
*/

/* TODO Avsnitt 14.7.4 */

/*
==================================================================================
Forms (contact page)
==================================================================================
*/

/* TODO Avsnitt 13.8.2 */

/*
==================================================================================
Blog page, show and edit
==================================================================================
*/

/* Detta kommer i boken Webbserverprogrammering 1 */

/*
==================================================================================
Adaptive design
==================================================================================
*/
.tagline button {
    /* display: none; */ /* Aktivera */
}
@media (max-width: 750px) {
    .hwrap > a {
        margin-right: 25px;
    }
    /* Lägg till regler enligt kapitel 15 */
}

/* TODO Avsnitt 15.4.2 + arbetsboken */

